{% extends 'base.html' %}
{% load static %}
{% block title %}{{ page_title }}{% endblock%}
{% block content%}

    {% if user.is_authenticated %}
        <a class="btn btn-info" href="{% url 'add_visitor'%}">Add article</a>
    {% else %}
        <p>You should login to add visitor</p>
    {% endif %}
    <h1>Visitors</h1>
    <ul>
        {% for visitor in object_list %}
            <li><a href="{% url 'detail' visitor.id %}"><p>{{ visitor.name }}</p></a></li>
        {% endfor %}
    </ul>
{% endblock %}
